body {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 1;
  background-color:cornflowerblue;
}

textarea{
  background: linear-gradient(rgb(10, 19, 19));
  border: none;
  resize: none;
  color: #0f0f0f;
  border-left: 1px solid rgb(1, 2, 12);
  padding: 10px;
  text-align: center;
}

.jumbotron {
  text-align: center;
  background-color: cornflowerblue;
  color: gold;
  border-radius: 0;
  border-bottom: 10px solid rgb(0, 0, 0);
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid rgb(211, 194, 194);;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #4e4a4a;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
